get_orderbook_data/depth-data/order_book_ATOM-USD_dydx.csv
get_orderbook_data/depth-data/order_book_ATOMUSDC_apex.csv
get_orderbook_data/depth-data/order_book_AVAX-USD_dydx.csv
get_orderbook_data/depth-data/order_book_AVAXUSDC_apex.csv
get_orderbook_data/depth-data/order_book_BCH-USD_dydx.csv
get_orderbook_data/depth-data/order_book_BTC-USD_dydx.csv
get_orderbook_data/depth-data/order_book_BCHUSDC_apex.csv
get_orderbook_data/depth-data/order_book_BTCUSDC_apex.csv
get_orderbook_data/depth-data/order_book_DOGEUSDC_apex.csv
get_orderbook_data/depth-data/order_book_ETH-USD_dydx.csv
get_orderbook_data/depth-data/order_book_LINKUSDC_apex.csv
get_orderbook_data/depth-data/order_book_MATIC-USD_dydx.csv
get_orderbook_data/depth-data/order_book_MATICUSDC_apex.csv
get_orderbook_data/depth-data/order_book_LINK-USD_dydx.csv
get_orderbook_data/depth-data/order_book_SOL-USD_dydx.csv
get_orderbook_data/depth-data/order_book_DOGE-USD_dydx.csv
get_orderbook_data/depth-data/order_book_LTC-USD_dydx.csv
get_orderbook_data/depth-data/order_book_ETHUSDC_apex.csv
get_orderbook_data/depth-data/order_book_LTCUSDC_apex.csv
get_orderbook_data/depth-data/order_book_SOLUSDC_apex.csv
get_orderbook_data/script.log
get_data/depth-data/data_1000PEPE_aevo.csv
get_data/depth-data/data_1000PEPEUSDC_apex.csv
get_data/depth-data/data_APT_aevo.csv
get_data/depth-data/data_ARBUSDC_apex.csv
get_data/depth-data/data_BCH-USD_dydx.csv
get_data/depth-data/data_BTC_aevo.csv
get_data/depth-data/data_BCHUSDC_apex.csv
get_data/depth-data/data_AVAX-USD_dydx.csv
get_data/depth-data/data_BNB_aevo.csv
get_data/depth-data/data_DOGEUSDC_apex.csv
get_data/depth-data/data_ATOM-USD_dydx.csv
get_data/depth-data/data_BNBUSDC_apex.csv
get_data/depth-data/data_ETH_aevo.csv
get_data/depth-data/data_LDOUSDC_apex.csv
get_data/depth-data/data_ARB_aevo.csv
get_data/depth-data/data_BLURUSDC_apex.csv
get_data/depth-data/data_DYDXUSDC_apex.csv
get_data/depth-data/data_APTUSDC_apex.csv
get_data/depth-data/data_BTC-USD_dydx.csv
get_data/depth-data/data_DYDX_aevo.csv
get_data/depth-data/data_LINKUSDC_apex.csv
get_data/depth-data/data_ATOMUSDC_apex.csv
get_data/depth-data/data_DOGE_aevo.csv
get_data/depth-data/data_LTC-USD_dydx.csv
get_data/depth-data/data_NEAR-USD_dydx.csv
get_data/depth-data/data_ATOM_aevo.csv
get_data/depth-data/data_AVAXUSDC_apex.csv
get_data/depth-data/data_CRV-USD_dydx.csv
get_data/depth-data/data_LTCUSDC_apex.csv
get_data/depth-data/data_NEAR_aevo.csv
get_data/depth-data/data_BLUR_aevo.csv
get_data/depth-data/data_LINK-USD_dydx.csv
get_data/depth-data/data_OPUSDC_apex.csv
get_data/depth-data/data_ETHUSDC_apex.csv
get_data/depth-data/data_MKR-USD_dydx.csv
get_data/depth-data/data_AVAX_aevo.csv
get_data/depth-data/data_MATIC_aevo.csv
get_data/depth-data/data_SOL-USD_dydx.csv
get_data/depth-data/data_UMA_aevo.csv
get_data/depth-data/data_MKR_aevo.csv
get_data/depth-data/data_OP_aevo.csv
get_data/depth-data/data_ETH-USD_dydx.csv
get_data/depth-data/data_TIAUSDC_apex.csv
get_data/depth-data/data_CRV_aevo.csv
get_data/depth-data/data_MATICUSDC_apex.csv
get_data/depth-data/data_TRX_aevo.csv
get_data/depth-data/data_DOGE-USD_dydx.csv
get_data/depth-data/data_SOL_aevo.csv
get_data/depth-data/data_TRX-USD_dydx.csv
get_data/depth-data/data_LINK_aevo.csv
get_data/depth-data/data_TON_aevo.csv
get_data/depth-data/data_BCH_aevo.csv
get_data/depth-data/data_TIA_aevo.csv
get_data/depth-data/data_LDO_aevo.csv
get_data/depth-data/data_WLD_aevo.csv
get_data/depth-data/data_LTC_aevo.csv
get_data/depth-data/data_TONUSDC_apex.csv
get_data/depth-data/data_XRPUSDC_apex.csv
get_data/depth-data/data_BTCUSDC_apex.csv
get_data/depth-data/data_UMA-USD_dydx.csv
get_data/depth-data/data_SOLUSDC_apex.csv
get_data/depth-data/data_MATIC-USD_dydx.csv
get_data/depth-data/data_WLDUSDC_apex.csv
get_data/depth-data/data_XRP_aevo.csv
