get_orderbook_data/depth-data/order_book_ATOM-USD_dydx.csv
get_orderbook_data/depth-data/order_book_ATOMUSDC_apex.csv
get_orderbook_data/depth-data/order_book_AVAX-USD_dydx.csv
get_orderbook_data/depth-data/order_book_AVAXUSDC_apex.csv
get_orderbook_data/depth-data/order_book_BCH-USD_dydx.csv
get_orderbook_data/depth-data/order_book_BTC-USD_dydx.csv
get_orderbook_data/depth-data/order_book_BCHUSDC_apex.csv
get_orderbook_data/depth-data/order_book_BTCUSDC_apex.csv
get_orderbook_data/depth-data/order_book_DOGEUSDC_apex.csv
get_orderbook_data/depth-data/order_book_ETH-USD_dydx.csv
get_orderbook_data/depth-data/order_book_LINKUSDC_apex.csv
get_orderbook_data/depth-data/order_book_MATIC-USD_dydx.csv
get_orderbook_data/depth-data/order_book_MATICUSDC_apex.csv
get_orderbook_data/depth-data/order_book_LINK-USD_dydx.csv
get_orderbook_data/depth-data/order_book_SOL-USD_dydx.csv
get_orderbook_data/depth-data/order_book_DOGE-USD_dydx.csv
get_orderbook_data/depth-data/order_book_LTC-USD_dydx.csv
get_orderbook_data/depth-data/order_book_ETHUSDC_apex.csv
get_orderbook_data/depth-data/order_book_LTCUSDC_apex.csv
get_orderbook_data/depth-data/order_book_SOLUSDC_apex.csv
get_orderbook_data/script.log
